.form-edit-profile .ant-form-item-explain,
.ant-form-item-extra {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.form-edit-profile .input-para-info .ant-form-item-explain,
.ant-form-item-extra {
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.div-form-edit {
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-form-edit-foto-info {
  margin-bottom: 30px;
}

.div-form-edit-foto-info-foto {
  text-align: right;
  padding-right: 12px;
}

.div-form-edit-foto-info-info {
  padding-top: 7px;
}
