.top-profile img {
  text-align: center;
}

.div-top-first {
  vertical-align: middle;
}

.div-top-first-btn a {
  color: black;
}

.btn-edit {
  font-size: 15px;
  border: 1px solid #dbdbdb;
  padding: 7px;
  border-radius: 5px;
}

.btn-edit-profile {
  font-size: 25px !important;
}

#lista-profile {
  padding: 0px;
}

#lista-profile li {
  display: inline;
  margin-right: 40px;
}

#lista-profile li:hover {
  cursor: pointer;
}

.bottom-profile {
  margin-top: 50px;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  top: 0;
}

.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-top: 1px solid #f0f0f0 !important;
  border-bottom: 0px solid #f0f0f0 !important;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar {
  top: 0;
}

.ant-tabs-ink-bar {
  background: black;
}

.ant-tabs {
  color: #8e8e8e;
}

.ant-tabs-tab:hover {
  color: #8e8e8e;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #8e8e8e;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}

.xs-movil-mostrar {
  display: none;
}

@media (max-width: 575.98px) {
  #lista-profile {
    display: none;
  }

  .top-profile .ant-avatar {
    width: 90px !important;
    height: 90px !important;
  }

  .top-profile .avatar-top-profile img {
    width: 90px;
    height: 90px;
  }

  .lg-mostrar-pantalla {
    display: none;
  }

  .xs-movil-mostrar {
    display: inline;
  }

  #lista-profile-movil {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
    border-top: 1px solid #f0f0f0 !important;
  }

  #lista-profile-movil li {
    display: inline-block;
    margin: 20px 20px -40px 20px;
  }

  .bottom-profile {
    margin-top: 20px;
  }

  .div-top-first h2 {
    font-size: 25px;
  }

  .bottom-profile .col-lg-12 {
    padding: 0px;
    width: 100%;
  }

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
    padding-left: 15px;
  }
}
